{# Create classes array. The 'node' class is required for contextual edit links.
Permet d'ajouter des classes dynamiques ou non aux éléments du markup
#}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class

] %}
{% set titre_attribute = create_attribute() %}
{% set systFormation_attribute = create_attribute() %}
{% set complementBts_attribute = create_attribute() %}
{% set infosPratiquesBts_attribute = create_attribute() %}
{% set introBts_attribute = create_attribute() %}
{% set chptexteeurope_attribute = create_attribute() %}
{% set infoPlusBts_attribute = create_attribute() %}
{% set image_attribute = create_attribute() %}
{% set imagecontainer_attribute = create_attribute() %}
{% set vuebloc_attribute = create_attribute() %}
{% set vueblocgalerie_attribute = create_attribute() %}
{% set zone1_attribute = create_attribute() %}
{% set zone2_attribute = create_attribute() %}
{% set zone3_attribute = create_attribute() %}
{% set titre_classes = [
'titre_overlay',
'titre_page',
'titre-' ~ node.bundle|clean_class
]%}
{% set systFormation_classes = [
'systeme-alternance',
'terme-' ~ content.field_systeme_de_formation[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set complementBts_classes = [
'complement-bts',
'champ-' ~ node.field_complement_fiche_bts[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set infosPratiquesBts_classes = [
'modalite-alternance',
'infos-pratiques-bts',
'terme-' ~ content.field_systeme_de_formation[0]['#title'] | clean_class | replace({"^" : ""}),
]%}
{# Classe spécifique #}
{% set vuebloc_classes = [
'insertion-vue',
'liste-formations-possibles',
'vue-' ~ rows[0]['content']['#row']._entity.getTitle(),
'vue-' ~ node.view.name,
'type-' ~ node.bundle|clean_class
]%}
{% set vueblocgalerie_classes = [
'galerie',
'type-' ~ node.bundle|clean_class
]%}
{% set infoPlusBts_classes = [
'info-plus-fiche-bts',
'champ-' ~ node.field_info_plus_bts[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set chptexteeurope_classes = [
'paragraphe-section-europe',
'champ-' ~ node.field_texte_section_europe[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set introBts_classes = [
'intro-fiche-bts',
'champ-' ~ node.field_intro_fiche_bts[0]['#title']|clean_class | replace({"^" : ""}),
]%}
{% set image_classes = [
'illustration-'~ node.bundle|clean_class,
'image--type-' ~ node.bundle|clean_class

]%}
{% set imagecontainer_classes = [
'imagecontainer',
'type-' ~ node.bundle|clean_class
]
%}
{#'zone1_layout_9_3'#}
{% set zone1_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{% set zone2_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{#'zone2_layout_9_3', zone1_layout_6_6 zone2_layout_6_6 #}
{% set zone3_classes = [
'zone_layout_max_centre',
'type-' ~ node.bundle|clean_class
]
%}
{# BEM inspired class syntax: https://en.bem.info/
   Enable this code if you would like node classes like "article article--layout-teaser", where article is the content type and teaser is the view mode.
{% set classes = classes|merge([
  node.bundle|clean_class,
  view_mode ? node.bundle|clean_class ~ '--layout-' ~ view_mode|clean_class
]) %}
{% set title_classes = [
  node.bundle|clean_class ~ '__title'
] %}
#}
<!--______________NODE TPL POUR PAGE.TPL CUSTOM ________________ -->
<article{{ attributes.addclass(classes).setattribute('id', 'node-'~node.id) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if not page and label %}
        <h2{{ title_attributes.addClass(title_classes) }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ author_picture }}
          {% trans %}Submitted by
          {{ author_name }}
          on
          {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      {% endif %}

      {% if not node.published %}
        <p class="node--unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <!--______________ ILLUSTRATION et TITRE ________________ -->
  <div {{ imagecontainer_attribute.addClass(imagecontainer_classes).setAttribute('id', 'zone-illustration') }}>

    {% set image_deco = content.field_illus_fiche_bts | render | trim %}
    {% if image_deco or node.label is not empty %}
      <div {{image_attribute.setAttribute('id', 'illustration-pleinepage').addClass(image_classes) }}>
        <h1 {{ titre_attribute.addClass(titre_classes) }}>{{node.label}}</h1>
        {{ content.field_illus_fiche_bts.0}}
      </div>
    {% endif %}
  </div>
  <!-- /zone-illustration -->

  <!--______________ZONE 1________________ -->
  <div {{ zone1_attribute.addClass(zone1_classes).setAttribute('id', 'zone-1') }}>
    {# Récupération du terme de taxonomie du type d'alternance sans le lien vers taxo
    #}
    <span {{ systFormation_attribute.addClass(systFormation_classes) }}>
      {{ content.field_systeme_de_formation.0['#title'] }}
    </span>

    {# Affichage conditionnel du texte si complement #}
    {% if content.field_complement_fiche_bts | render is not empty %}
      <span {{ complementBts_attribute.addClass(complementBts_classes) }}>
        {{ content.field_complement_fiche_bts.0 }}
      </span>
    {% endif %}

    {# Affichage conditionnel du tableau des liens et fichiers #}
    {% if content.field_lien_fiche_bts | render is not empty %}
      <table {{ infosPratiquesBts_attribute.addClass(infosPratiquesBts_classes) }}>
        <tbody>
          <tr>
            <td class="col1">
              <h4>Des liens...</h4>
              {% include directory ~ '/includes/dedicates_inc/inc_fiche_bts_liste_liens.html.twig' %}
            </td>

            {% if content.field_detail_fiche_bts | render is not empty %}
              <td class="col2">
                <h4>En détail...</h4>
                {% include directory ~ '/includes/dedicates_inc/inc_fiche_bts_liste_fiches_details.html.twig' %}
              </td>
            {% endif %}

          </tr>
        </tbody>
      </table>
    {% endif %}

    {# Affichage conditionnel du texte si complement #}
    {% if content.field_intro_fiche_bts | render is not empty %}
      <span {{ introBts_attribute.addClass(introBts_classes) }}>
        {{ content.field_intro_fiche_bts.0 }}
      </span>
    {% endif %}

    {% include directory ~ '/includes/regions_inc/inc_region_zone_1.html.twig' %}
  </div>
  <!-- /zone-1-->

  <!--______________ZONE 2________________ -->
  <div {{ zone2_attribute.addClass(zone2_classes).setAttribute('id', 'zone-2') }}>

    {% if node.field_type_galerie_image is not empty %}
      <aside {{ vueblocgalerie_attribute.addClass(vueblocgalerie_classes) }}>
        {{ content.field_type_galerie_image.0 }}
      </aside>
    {% endif %}

    {% include directory ~ '/includes/dedicates_inc/inc_ficheform_infos_utiles.html.twig' %}
    {% include directory ~ '/includes/regions_inc/inc_region_zone_2.html.twig' %}

  </div>
  <!-- /zone-2 -->

  <!--______________ ZONE 3 ________________ -->
  <div {{ zone3_attribute.addClass(zone3_classes).setAttribute('id', 'zone-3') }}>

    <div {{ content_attributes.addclass('content') }}>
      {{ content.body }}

    </div>
    <!-- /.content -->

    {# Affichage conditionnel du contenu si champ rempli #}
    {% if content.field_info_plus_bts | render is not empty %}
      <span {{infoPlusBts_attribute.addclass(infoPlusBts_classes) }}>
        <h3>En savoir plus...</h3>
        {{ content.field_info_plus_bts.0 }}
      </span>
    {% endif %}

    {# Affichage conditionnel du contenu si champ rempli #}
    {% if content.field_texte_section_europe | render is not empty %}
      <span {{chptexteeurope_attribute.addclass(chptexteeurope_classes) }}>
        {{ content.field_texte_section_europe.0 }}
      </span>
    {% endif %}

    {% include directory ~ '/includes/dedicates_inc/inc_videos_embed.html.twig' %}
    {% include directory ~ '/includes/regions_inc/inc_region_zone_3.html.twig' %}

    {% if content.links %}
      <div class="links">
        {{ content.links }}
      </div>
      <!-- /.links -->
    {% endif %}

  </div>
  <!-- /zone-3 -->

</article>
<!-- /.node -->