// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                     |
|               CONTENU                     |
|     EUROPE INTERNATIONAL        |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-contenu-rubrique-international{order:1;}
    #zone-2.type-contenu-rubrique-international{order:2;}
    #zone-3.type-contenu-rubrique-international{order:3;}
    #zone-4.type-contenu-rubrique-international{}
    #zone-5.type-contenu-rubrique-international{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-contenu-rubrique-international{

    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
    #illustration-pleinepage{
        @include backgroundImage('SVG/Erasmus_VET.svg');
        @include background-size(cover);
        background-position: 0 -10vw;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            background-position: 0 -20vw;
            min-height: 24vw;
        }
    }
}
aside.selecteur-langue{
    //Voir style fichier page-espace.scss
}
#zone-1.type-contenu-rubrique-international{
    .content-body{
        column-count: inherit;
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 3;
            column-fill: balance;
            column-rule: em(2px) dashed $gris-anthracite;
            h3{

            }
        }
    }
}
#zone-2.type-contenu-rubrique-international{
    span.liste-section-euro{
        display: block;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: 0 0 0 span(0.1);
        }
    }
    .docs-joints-international{
        ul{
            columns: inherit;
            @include breakpoint ($desktop){
                columns: 9.5vw 3;
                column-fill: balance;
                white-space: normal;
            }
            @include breakpoint(($desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                columns: 11vw 3;
                column-fill: balance;
                white-space: normal;
            }

        }
    }
}
#zone-3.type-contenu-rubrique-international{
        iframe[src*="maps"],
    iframe[src*="umap"]
    {
        min-height: 110vw;
        min-width: 30vw;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 30vw;
        }
    }
    span.map-deco{
        display: inherit;
    }

}
#zone-4.type-contenu-rubrique-international{
    clear: both;
    aside.galerie{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.1);
            background: $orange-fonce;
        }
    }
}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.type-contenu-rubrique-international{
    h1.titre_overlay{
        @include titre_overlay();

    }
}

#zone-1.type-contenu-rubrique-international,
#zone-2.type-contenu-rubrique-international,
#zone-3.type-contenu-rubrique-international,
#zone-4.type-contenu-rubrique-international,
#zone-5.type-contenu-rubrique-international
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $orange-fonce;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-contenu-rubrique-international{
    aside.selecteur-langue{
        //Voir style fichier page-espace.scss
    }
}
#zone-2.type-contenu-rubrique-international{
    span.liste-section-euro{
        background:$orange-fonce;
        .view-header{
            color: $blanc-casse;
            font-weight: bold;
            @include font-size(m);//utilisation de typey
        }
        ul.formations-section-euro{
            li{
                a{
                    color: $blanc-casse;
                }
            }
        }

    }
    .docs-joints-international{
        background:$blanc-casse;
        ul{
            list-style:none;
            li{
                a{
                    text-indent: 2em;
                    display: block;
                    &:hover{

                    }
                }
                a[type*="pdf"][href*="http"],a[type*="pdf"]{//double condition et cas du pdf seul sans http
                    &::before{
                        @include backgroundImage("PNG/Fichiers@3x.png");
                        background-size: contain;
                        content: "";
                        position: relative;
                        vertical-align: sub;
                        padding: em(10px);
                        margin:em(3px);
                        transition:0.5s all;
                        /*                        &:hover::before{
                                                content: "";
                                                position: relative;
                                                transform:rotate(50deg);
                                                }*/
                    }
                }

                a[href*="http"] {
                    &::before{
                        @include backgroundImage("PNG/liens@3x.png");
                        background-size: contain;
                        content: "";
                        position: relative;
                        vertical-align: sub;
                        padding: em(10px);
                        margin:em(3px);
                        transition:0.5s all;
                    }

                }

                img.filefield-icon{
                    width: inherit;
                    margin: 0;
                    display: none;//initial
                }
            }
        }

    }
}
#zone-3.type-contenu-rubrique-international{}
#zone-4.type-contenu-rubrique-international{}
#zone-5.type-contenu-rubrique-international{}
