// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       CONTENU ACTU PRESSE ASSO       |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-actu-association-revue-presse{order:1;}
    #zone-2.type-actu-association-revue-presse{order:2;}
    #zone-3.type-actu-association-revue-presse{order:3;}
    #zone-4.type-actu-association-revue-presse{}
    #zone-5.type-actu-association-revue-presse{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-actu-association-revue-presse{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    /*position: relative;*/
    /*display: inline-block;*/
    @include backgroundImage('SVG/image_defaut_actu_2500.svg');
    @include background-size(cover);
    img{
        transform: translate(0%,0%);
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        /*min-height: 20vw;*/
        min-height: 25vw;
        max-height: 30vw;
        img{
            /*margin: 0 12vw;*/
            max-height: 30vw;
            transform: scale(1.4) translate(0%,5%);


        }
    }


}

#zone-1.type-actu-association-revue-presse{
    .content{
        padding: span(0.2);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.5);
        }
    }
    .bloc_docs_utiles_actu{
      width: span(5);
      margin: 0 auto;
    }
    //Galerie d'image
    aside.galerie{
        background: $orange-fonce;
        display: flex;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.05);
        }
        img {
          @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          max-width: span(10);
          margin: span(0.1) auto;
          padding: span(0.02);
        }
    }
    .slideshare,.video{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.05);
            width: span(6);
            margin: 0 auto;
        }
    }
    .videos {
      ul{
        list-style: none;
      }
      iframe{
        padding: span(0.02);
        border: em(3px) solid $orange-fonce;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
        max-height: 85vh;
        max-width: 60vw;
        margin: 0 auto;
            }
      }
    }
} // Fin zone-1
#zone-2.type-actu-association-revue-presse{
    aside{
        h3{
            margin: span(0.1) 0 0 span(0.1);
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
        }
    }
    .region-zone-2{
      h2{
        margin: span(0.1) 0 0 span(0.1);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
        }
    }
    ul.actu-hasard-list-ul{
        padding:span(0.5);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            display: flow-root;
        }
        li{
            list-style:none;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                padding: span(0.5);
                display: inherit;
            }
            a{
                text-align: center;
            }
            span.titre-au-hasard{
                text-align: center;
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    width: span(8);
                    display: block;
                }

            }
            span.image_actu{
              display: block;
              clear: both;
            }
            img{
                @include cadre-ombre(0.3em,white,$gris-anthracite);
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    /*float: right;*/
                    max-width: 75%;
                }
            }
        }
    } // Fin ul.actu-hasard-list-ul
} // Fin zone-2

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.type-actu-association-revue-presse{
    h1.titre_overlay{
        //transform: translate(0%, -45%) !important;
        @include titre_overlay();

    }
}
#zone-1.type-actu-association-revue-presse,
#zone-2.type-actu-association-revue-presse,
#zone-3.type-actu-association-revue-presse,
#zone-4.type-actu-association-revue-presse,
#zone-5.type-actu-association-revue-presse
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{

            text-decoration: underline;
            @include transition-hover();;
        }
    }
    strong{
        color: $orange-fonce;
    }

}
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-actu-association-revue-presse {

    img{padding: 0;}
    a{  color: $orange-fonce;font-weight: bold;text-decoration: none;
        &:hover{
            background: $orange-fonce;
            color: $blanc-casse;
            //    text-decoration: underline;
        }
    }

    table.table-jpo{
        width: span(8);
        margin: 0 auto;
    }


    .bloc_docs_utiles_actu{
        list-style: none;
        background: transparent;
        li:not(.label-field-fichier-joint):not(.label-field-lien-actu){
            border-bottom: em(1px) dashed $gris-anthracite;
        }
        li.label-field-fichier-joint, li.label-field-lien-actu{
          background: $gris-anthracite;
          color: $jaune;
          font-weight: bold;
          padding: span(0.02);
          display: inline-block;
        }
        a{
          background: $gris-clair;
          color: $orange-fonce;

          text-decoration: none;
          padding: span(0.01) span(0.03);

          &:hover {
              color: $gris-anthracite;
              background: $orange-fonce;
          }
            &[href*=".pdf"]{
              &::before{

                  @include maskImage(("PNG/Fichier-blanc@3x.png"), 100%, alpha, $orange-fonce);
                  background-size: contain;
                  content: "";
                  position: relative;
                  vertical-align: sub;
                  padding: em(10px);
                  margin:em(3px);
                  transition:0.5s all;
                  display: inline-block;
                  transform: scale(1.1);
              }
            }
            &[href*="/"]:not([href*=".pdf"]) {

                //pour cibler les liens externes et internes, exclure les pdf
                &::before {
                    @include maskImage(("PNG/liens-blanc@3x.png"), 100%, alpha, $orange-fonce);
                    background-size: contain;
                    content: "";
                    position: relative;
                    vertical-align: sub;
                    padding: em(10px);
                    margin: em(3px);
                    transition: 0.5s all;
                    display: inline-block;
                    transform: scale(1);
                }

            }
        }


        img.filefield-icon{

            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                display: inline-block;
                text-indent: em(2px);
                display: none;//initial
                visibility: hidden;
                width: 2vw;
                height: 2vw;
            }

        }

        th{text-align: center;font-size: large;color: $gris-anthracite;border-bottom: em(3px) solid $orange-fonce;}
        td{padding: em(2px);}
        tbody, tr{background: transparent;border-bottom: 1px dashed $gris-anthracite;}
        thead{}
    } // Fin bloc_docs_utiles_actu
    .galerie {
      img {
        @include transition-hover(75ms);

        &:hover {
          @include zoom-css3-hover(0.95);
        }
      }
    }

} // Fin zone-1

#zone-2.type-actu-association-revue-presse{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        @include border-L-orangePF;
    }
  .region-zone-2 {
    h2{
            transform: rotate(-1deg);
            color: $jaune;
            background: $gris-anthracite;
            padding: em(3px);
            text-align: center;
            max-width: 80%;
        }
}
    ul.actu-hasard-list-ul{
        padding:span(0.5);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tabletlandscape)){
            display: flow-root;
        }
             @include breakpoint(($mobilelandscape,$tablet)){
            column-count: 3;
        }
        li{
            list-style:none;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                padding: span(0.5);
                display: inherit;
            }
            a{
                text-align: center;
            }

            img{
                @include cadre-ombre(0.3em,white,$gris-anthracite);
                @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                    /*float: right;*/
                    max-width: 75%;
                }
            }
        }
    }
}
