// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               PAGE BTS                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-bts{order:1;}
    #zone-2.type-page-bts{order:2;}
    #zone-3.type-page-bts{order:3;}
    #zone-4.type-page-bts{}
    #zone-5.type-page-bts{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-page-bts{
   min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}
#zone-1.type-page-bts{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        padding: span(0.2);
    }
    aside.node_col_1{
        padding: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(3 of $desktopcol);
            margin-left: span(1 wide);//push
            display: inline-block;
            padding: span(0.01);
        }
    }
    aside.node_col_2{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            float: right;
            width: span(6 of $desktopcol);
            padding: span(0.01);
        }
    }
    aside.liste-bts-visuelle{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            margin: span(0.5) 0 0 0;

        }
        ul.liste-bts-centres,
        ul.liste-apprentissage-mur{
            column-count: 1;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                column-count: 2;
                li{
                    break-inside: avoid-column;
                }
            }
        }
        ul.liste-bts-mur{
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                column-count: 4;
                /*column-fill: auto;*/ //Pas supporté par FF60
                white-space: normal;
            }
            li{
                break-inside: avoid-column;
                @include hack-Edge;
                @include hack-IE;
                @include txt-colonnes();
            }
        }
        .bef-exposed-form{
            @include breakpoint(($desktop,$desktopwide)){
                display:inline-block;
                column-count: 4; //Adapter au nb de filtres
                column-fill: balance;
                white-space: normal;
                padding: span(0.02);
            }
            @include breakpoint(($tablet,$tabletlandscape)){
              //Diminue taille items sur Tablette selon réglage de display
              //display:inherit;
              column-count: 1;// Tablette S3: Edge & FF OK
              column-fill: balance;
              white-space: normal;
              padding: span(0.02);
            }
            @include breakpoint(($mobilelandscape)){
              //Diminue taille items sur Tablette selon réglage de display
              //display:inherit;
              column-count: 2;// Mobile Paysage
              column-fill: balance;
              white-space: normal;
              padding: span(0.02);
            }
            div.form-item{
                margin: 0 0 span(0.01) 0;
                min-height: 7vh;
                padding: span(0.15);
                @include breakpoint(($desktop,$desktopwide)){
                  @include hack-Edge;
                  @include hack-IE;
                  @include txt-colonnes();
                  padding: span(1);

                }
                @include breakpoint(($tablet,$tabletlandscape)){
                  @include hack-Edge;
                  @include hack-IE;
                  @include txt-colonnes();
                  //Tri horizontal plutot que vertical des éléments. Besoin d'une largeur
                  // Régler column-count: sur 1 au niveau de l'UL
                  display: inline-block;
                  width: span(5.5);
                  padding: span(0.35);
                  //Garder le margin par défaut
                }
                @include breakpoint(($mobilelandscape)){
                  @include hack-Edge;
                  @include hack-IE;
                  @include txt-colonnes();
                  //Tri horizontal plutot que vertical des éléments. Besoin d'une largeur
                  // Régler column-count: sur 1 au niveau de l'UL
                  display: block;
                  min-height: 19vh;
                  padding: span(0.15);
                  //Garder le margin par défaut
                }
            }
        }
    } // Fin aside liste-bts-visuelle
}

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
$typedecontenu: type-page-bts,type-TDC;
$zones: zone-1, zone-2,zone-3;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {

    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }

    aside{
        //FormulaireRWD via Mixin
        @include FormulaireRWD(90%);
        background:$orange-fonce;
        h3{
            color: $blanc-casse;
            @include font-size(m);//utilisation de typey
        }
        .description p{
            @include font-size(s);//utilisation de typey
        }
        p,label{
            color: white;
        }
        input[type="submit"]{
            @include font-size(m);//utilisation de typey
        }
    } // Fin aside

    aside.liste-bts-visuelle{
      background: transparent;
      i{//texte d'en-tête de la vue
          color: $orange-fonce;
      }
      //Style du filtrage de la vue
     .bef-exposed-form{
          div.form-item{
              background: $orange-fonce; //Couleur de fond des filtres
              color: $blanc-casse;
              text-align: center;
              cursor: pointer;
              label{
                  cursor: pointer;

              }
              //&:hover:not(#edit-term-node-tid-depth-limited-All-wrapper)
              // Exclusion du hover pour le choix Tout - Fonctionnel
              &:hover:not(:first-child)
              {
                //Utilisation de l'unité vw plus universelle, évite usage de BP
                @include backgroundImage(('BG/BG_Filtres_Exposes.png'), transparent, center -11.5vw , no-repeat );
                background-size:60%;
                background-color: $gris-anthracite;
                label{
                    @include opacity(0.45);
                }
              }
          }
      } // Fin bef-exposed-form

            ul.liste-bts-mur{
                li{
                    list-style: none;
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        @include ombrage-bloc(0em,0em,0.5em,$gris-anthracite);
                        margin: span(0.1) 0;
                    }
                    span:not(.illustration){
                    display: block;
                    text-align: center;
                    max-width: 80%;
                    margin: em(5px) auto;
                    color: $blanc-casse;
                    @include font-size(xs);//utilisation de typey
                    &.centre-alternance{
                        //classe ajoutée dans la vue - réécriture du champ
                        border: em(1px) dashed;//couleur héritée du LI parent
                    }
                }
                a{//pour tous les liens contenus dans l'élément LI
                    display: block;
                }
                span.illustration{
                  overflow: hidden;
                  img{
                    @include adaptable-img();
                    //transform: scale(1.5);
                    //taillle de l'image sur la liste, évite marge due au format.Inutile si utilise mixin adaptable-img
                  }
                a,a[class*="imagecache"]{//uniquement les "a" sur l'image
                    position:relative;//pour overlay image

                    &:before{
                        @include image-overlay('PNG/motif_img_overlay.png', 0 0, repeat);
                    }
                }
              }
                span.titre-fiche{
                  a,a[href*="fiche"]{
                    font-weight: bold;
                    text-align: center;
                    color: $blanc-casse;
                  }
                }
                &.tid-28,&.tid-98{
// MÉTIERS DES SERVICES À LA PERSONNE (98)
                    background: $rose-fushia;
                }
                &.tid-30,&.tid-100{
// MÉTIERS DES SERVICES ADMINISTRATIFS ET DU COMMERCE (100)
                    background: $vert;
                }
                &.tid-31,&.tid-101{
// MÉTIERS DES TRANSPORTS ET DE LA LOGISTIQUE (101)
                    background: $gris-clair-moyen;
                }
                &.tid-32,&.tid-103{
// MÉTIERS DES LABORATOIRES (103)
                    background: $violet;
                }
                &.tid-33,&.tid-106{
// MÉTIERS DE LA RESTAURATION (106)
                    background: $bleu-turquoise;
                }
            }
        }

      } // Fin liste-bts-visuelle

      table.table-bts-coord{
        width: 97%;
        border: 0;
        margin: span(0.1) 0;
        position: relative;
        //Effet coin retourné
        &::before{
            content: "";
            position: absolute;
            top: em(-3px);
            right: em(-3px);
            border-width: 0 em(20px) em(20px) 0;
            border-style: solid;
            border-color: $orange-fonce ;
        }
        tbody{
            background: $gris-anthracite;
            color:$blanc-casse;
            height: auto;
            margin: span(0.1) 0;
            padding: 0;
            border: none;}
        tr{
            background: none;
            border: none;}
        td{vertical-align: middle;
           /*border: em(1px) solid $blanc-casse;*/
           em{
               padding: 0 span(0.01);
           }
           img[src*=".png"]{}
           &:first-child{
               max-width:30%;
           }
           &:last-child{
               max-width:70%;
           }
        }

    }// Fin table table-bts-coord

  } //Fin ##{$zone}.#{$type}
} // Fin @each $type
} // Fin @each $zone

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

/*
$typedecontenu: type-TDC,type-TDC2,type-TDC3 ;
$zones: zone-1, zone-2,zone-3, zone-4,zone-5 ;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
    } //Fin ##{$zone}.#{$type}
  } // Fin @each $type
} // Fin @each $zone
*/
